@import url('https://fonts.googleapis.com/css?family=Lato');
li a {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    margin: 0 10px;
}

.border-up {
    border-top: solid;
    border-color: #d9d9d9;
    border-width: 2px;
}

.grey-color {
    background-color: #d9d9d9;
}

.banner-img {
    display: block;
    margin: 21px auto;
    width: 88%;
}

.banner-btn {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 28px;
    font-family: 'Lato', sans-serif;
    color: #d9d9d9;
    font-size: 15px;
    padding: 7px 32px;
    border: solid #d9d9d9 2px;
    text-decoration: none;
    margin: 10px 63px 34px;
}

.banner-btn:hover {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    display: block;
    margin: 10px auto;
}

.btn-login {
    border-radius: 28px;
    font-family: 'Lato', sans-serif;
    color: #d9d9d9;
    font-size: 15px;
    background: #ffffff;
    padding: 7px 32px;
    border: solid #d9d9d9 2px;
    text-decoration: none;
    margin: 10px 63px 34px;
}

.btn-login:hover {
    background: #d9d9d9;
    text-decoration: none;
    color: #ffffff;
}

.carousel-indicators li {
    width: 8px!important;
    height: 8px !important;
    border-radius: 100%;
}

.cat-lbl {
    border-radius: 28px;
    border-style: solid;
    border-width: 2px;
    font-family: 'Lato', sans-serif;
    width: 150px;
    text-align: center;
}

.center-lbl {
    display: block;
    margin: 10px auto 200px;
}