html
  head
    title Slik Homepage
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.css')
    script(src='js/main.js')
    script(src='js/parsley.js')
 
  body   
    #mainform.container
